body{
	background:url(../img/fundo.jpg); 
	color:#868686; 
	font-family: "Open Sans", Helvetica, sans-serif, arial; 
	font-size: 18px; /* 18px a· 16px = 1.125em */
	font-weight: 300;
	line-height: 1.2222222222em; /* 22px a· 18px = 1.22222222222em*/
	text-align: left; 
	text-shadow:1px 1px 0px #fff; 
}
.centro{
	margin: 0 auto;
	max-width:1200px; /*largura maxima do layout*/
	width: 90%; /*ajuste do layout a  tela*/